<div class="center">
  <div class="logo">
    <a href="/">
      <img src="../../assets/images/logo.svg" alt="mikami logo" i18n-alt />
    </a>
  </div>

  <Input name="search" placeholder="Search&hellip;" aria-label="Search" />

  <!--
  <div class="search input-group">
    <div class="form-outline" data-mdb-input-init>
      <input id="search-focus" type="search" id="form1" class="form-control" />
      <label class="form-label" for="form1" i18n>Search</label>
    </div>
    <button type="button" class="btn btn-primary" data-mdb-ripple-init>
      <i class="fas fa-search"></i>
    </button>
  </div>
  -->

  <div class="user-tools">
    <app-login></app-login>
  </div>
</div>
