<!-- Section: Design Block -->
<section class="text-center text-lg-start">
  <div class="card mb-3">
    <div class="row g-0 d-flex align-items-center">
      <div class="col-lg-4">
        <div class="card-body py-5 px-md-5">
          <form
            class="row g-3 needs-validation"
            [formGroup]="loginForm"
            (ngSubmit)="onSubmit()"
          >
            <div data-mdb-input-init class="form-outline mb-4">
              <label class="form-label" for="user" i18n>User</label>
              <input
                type="text"
                id="user"
                class="form-control"
                i18n-placeholder
                placeholder="entra tu nombre de usuario"
                formControlName="user"
                required
                [class.is-invalid]="
                  loginForm.controls['user'].invalid &&
                  loginForm.controls['user'].touched
                "
              />
              <p
                *ngIf="
                  loginForm.controls['user'].invalid &&
                  loginForm.controls['user'].touched
                "
                class="invalid-feedback"
                i18n
              >
                nombre de usuario incorrecto
              </p>
            </div>

            <!-- Password input -->
            <div data-mdb-input-init class="form-outline mb-4">
              <label class="form-label" for="password" i18n>Password</label>
              <input
                type="password"
                id="password"
                class="form-control"
                i18n-placeholder
                placeholder="enter your password"
                formControlName="password"
                [class.is-invalid]="
                  loginForm.controls['password'].invalid &&
                  loginForm.controls['password'].touched
                "
                required
              />
              <p
                *ngIf="
                  loginForm.controls['password'].invalid &&
                  loginForm.controls['password'].touched
                "
                class="invalid-feedback"
              >
                password incorrecta
              </p>
            </div>

            <!--
            <div class="row mb-4">
              <div class="col d-flex justify-content-center">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="remember"
                    checked
                  />
                  <label class="form-check-label" for="remember">
                    Remember me
                  </label>
                </div>
              </div>
              -->

            <!--
              <div class="col">
                <a href="#!">Forgot password?</a>
              </div>
            </div>
            -->

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">
              Sign in
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section: Design Block -->
